@model MvcAdmin.Models.StatisticMainModel
    @{
        List<Model.Framework.ViewKQ> list_SQ = new List<Model.Framework.ViewKQ>();
        List<Model.Framework.ViewKQ> list_QNCN = new List<Model.Framework.ViewKQ>();
        List<Model.Framework.ViewKQ> list_HSQ_TS = new List<Model.Framework.ViewKQ>();
        List<Model.Framework.ViewKQ> list_HSQ_TT = new List<Model.Framework.ViewKQ>();
        List<Model.Framework.ViewKQ> list_HSQ_dB_BD = new List<Model.Framework.ViewKQ>();

        foreach (var item in Model.listKQ)
        {
            if (item.ThanhPhan == "SQ")
            {
                list_SQ.Add(item);
            }
            else if (item.ThanhPhan == "QNCN")
            {
                list_QNCN.Add(item);
            }
            else
            {
                if (item.DonVi == "cTS")
                {
                    list_HSQ_TS.Add(item);
                }
                else if (item.DonVi == "cTT")
                {
                    list_HSQ_TT.Add(item);
                }
                else
                {
                    list_HSQ_dB_BD.Add(item);
                }
            }
        }

        // select month
        var selectList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Tháng 1", Value = "1"},
            new SelectListItem {Text = "Tháng 2", Value = "2"},
            new SelectListItem {Text = "Tháng 3", Value = "3"},
            new SelectListItem {Text = "Tháng 4", Value = "4"},
            new SelectListItem {Text = "Tháng 5", Value = "5"},
            new SelectListItem {Text = "Tháng 6", Value = "6"},
            new SelectListItem {Text = "Tháng 7", Value = "7"},
            new SelectListItem {Text = "Tháng 8", Value = "8"},
            new SelectListItem {Text = "Tháng 9", Value = "9"},
            new SelectListItem {Text = "Tháng 10", Value = "10"},
            new SelectListItem {Text = "Tháng 11", Value = "11"},
            new SelectListItem {Text = "Tháng 12", Value = "12"}
        }, "Value", "Text");
    }

@{
    ViewBag.Title = "Tổng Hợp Kết Quả";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="col-lg-8 col-xs-6">@ViewBag.title</h2>
<div class="col-lg-4 col-xs-6 selectContain">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group col-xs-6">
                @Html.DropDownListFor(m => m.month, selectList, "Tháng...", new { @class = "col-xs-12 selection" })
            </div>
                
            <div class="form-group col-xs-6">
              <div class="col-md-offset-2 col-md-10">
                 <input type="submit" value="Xem kết quả" class="btn btn-default" />
              </div>
            </div>
        </div> 
    }
</div>
<ul class="nav nav-tabs statistic col-xs-12">
    <li class="active"><a data-toggle="tab" href="#SQ">SQ</a></li>
    <li><a data-toggle="tab" href="#QNCN">QNCN</a></li>
    <li><a data-toggle="tab" href="#HSQ_TS">HSQ-cTS</a></li>
    <li><a data-toggle="tab" href="#HSQ_TT">HSQ-cTT</a></li>
    <li><a data-toggle="tab" href="#HSQ_dB_bBD">HSQ-dB-BĐ</a></li>
</ul>

<div class="tab-content statistic col-xs-12">
    <div id="SQ" class="tab-pane fade in active">
        <h3>Sỹ quan</h3>
        <table class="table">
            <tr>
                <th>
                    IDQN
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày Kiểm tra
                </th>
                <th>
                    Đề Số
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Xếp loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in list_SQ)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XepLoai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Delete", "Delete", new {  id=item.IDQN })*@
                    </td>
                </tr>
                }

        </table>
    </div>

    <div id="QNCN" class="tab-pane fade">
        <h3>Quân nhân chuyên nghiệp</h3>
        <table class="table">
            <tr>
                <th>
                    IDQN
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày Kiểm tra
                </th>
                <th>
                    Đề Số
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Xếp loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in list_QNCN)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XepLoai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Delete", "Delete", new {  id=item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="HSQ_TS" class="tab-pane fade">
        <h3>Hạ sỹ quan Đại đội Trinh Sát</h3>
        <table class="table">
            <tr>
                <th>
                    IDQN
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày Kiểm tra
                </th>
                <th>
                    Đề Số
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Xếp loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in list_HSQ_TS)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XepLoai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Delete", "Delete", new {  id=item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="HSQ_TT" class="tab-pane fade">
        <h3>Hạ sỹ quan Đại đội Tiêu Tẩy</h3>
        <table class="table">
            <tr>
                <th>
                    IDQN
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày Kiểm tra
                </th>
                <th>
                    Đề Số
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Xếp loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in list_HSQ_TT)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XepLoai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Delete", "Delete", new {  id=item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="HSQ_dB_bBD" class="tab-pane fade">
        <h3>Hạ sỹ quan Tiểu đoàn Bộ - Trung đội Bảo đảm</h3>
        <table class="table">
            <tr>
                <th>
                    IDQN
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày Kiểm tra
                </th>
                <th>
                    Đề Số
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Xếp loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in list_HSQ_dB_BD)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XepLoai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Delete", "Delete", new {  id=item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

   