@model MvcAdmin.Models.DanhSachMainModel
@{
    ViewBag.Title = "Xóa Quân nhân";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>@ViewBag.Title</h2>

<h3>
Bạn có chắc muốn xóa thông tin quân nhân này không? <br />
</h3>
<h4><i>(Chỉ xóa khi quân nhân xuất ngũ hoặc chuyển công tác, không còn trong biên chế đơn vị)</i></h4>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.HoTen)
        </dd>

        <dt>
            Cấp bậc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.CB)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.CV)
        </dd>

        <dt>
            Đơn vị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.DonVi)
        </dd>

        <dt>
            Thành phần
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.ThanhPhan)
        </dd>

    </dl>
    <h3>Lịch sử kiểm tra:</h3>
    <table class="table">
        <tr>
            <th>
                Ngày Kiểm tra
            </th>
            <th>
                Đề Số
            </th>
            <th>
                Điểm
            </th>
            <th>
                Xếp loại
            </th>
        </tr>

        @foreach (var item in Model.listKQ)
        {
            <tr class="table-row" id="r">
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KQ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XepLoai)
                </td>

            </tr>
        }

    </table>


</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Trở lại", "Index", new { id = Model.user.IDQN })
    </div>
}
@*<p>
    @Html.ActionLink("Xóa", "Delete", new { id = Model.user.IDQN }) |
    @Html.ActionLink("Trở lại Danh sách", "Index")
</p>*@
