@model IEnumerable<Model.Framework.DanhSach>
    @{ 
        List<Model.Framework.DanhSach> List_SQ = new List<Model.Framework.DanhSach>();
        List<Model.Framework.DanhSach> List_QNCN = new List<Model.Framework.DanhSach>();
        List<Model.Framework.DanhSach> List_HSQ = new List<Model.Framework.DanhSach>();
        List<Model.Framework.DanhSach> List_BS = new List<Model.Framework.DanhSach>();
        
        foreach (var item in Model)
        {
            if (item.ThanhPhan == "SQ")
            {
                List_SQ.Add(item);
            }
            else if (item.ThanhPhan == "QNCN")
            {
                List_QNCN.Add(item);
            }
            else
            {
                if (item.CB != "B1" && item.CB != "B2")
                {
                    List_HSQ.Add(item);
                }
                else
                {
                    List_BS.Add(item);
                }
            }
        }
    }

@{
    ViewBag.Title = "Danh Sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p style="font-size: 16px;">
    @Html.ActionLink("+ Thêm mới", "Create")
</p>
<ul class="nav nav-tabs list">
    <li class="active"><a data-toggle="tab" href="#SQ">Sỹ Quan</a></li>
    <li><a data-toggle="tab" href="#QNCN">QNCN</a></li>
    <li><a data-toggle="tab" href="#HSQ">Hạ Sỹ Quan</a></li>
    <li><a data-toggle="tab" href="#BS">Binh Sỹ</a></li>
</ul>
<div class="tab-content list">
    <div id="SQ" class="tab-pane fade in active">
        <h3>Sỹ quan</h3>
        <table class="table">
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    Cấp bậc
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Đơn vị
                </th>
                <th>
                    Thành phần
                </th>
                <th></th>
            </tr>

            @foreach (var item in List_SQ)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonVi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhPhan)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDQN }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDQN }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="QNCN" class="tab-pane fade">
        <h3>Quân nhân chuyên nghiệp</h3>
        <table class="table">
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    Cấp bậc
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Đơn vị
                </th>
                <th>
                    Thành phần
                </th>
                <th></th>
            </tr>

            @foreach (var item in List_QNCN)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonVi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhPhan)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDQN }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDQN })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="HSQ" class="tab-pane fade">
        <h3>Hạ sỹ quan</h3>
        <table class="table">
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    Cấp bậc
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Đơn vị
                </th>
                <th>
                    Thành phần
                </th>
                <th></th>
            </tr>

            @foreach (var item in List_HSQ)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonVi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhPhan)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDQN }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDQN }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="BS" class="tab-pane fade">
        <h3>Binh Sỹ</h3>
        <table class="table">
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    Cấp bậc
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Đơn vị
                </th>
                <th>
                    Thành phần
                </th>
                <th></th>
            </tr>

            @foreach (var item in List_BS)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonVi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhPhan)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDQN }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDQN }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDQN })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
